@media only screen and (min-width: 500px) 
{
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Sora:wght@600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#270720;
    color: rgb(204, 124, 174);
    font-family: 'Sora', sans-serif;
}
a{
    text-decoration:none;
    color:#270720;
}
#logo{
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 468px;
    padding:0;
    margin:0;
}
header{
    background-color: #b79aad;
    color: #270720;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 80px;
    width: 100%;
    z-index: 4;
}
body > header{
    position:sticky; /*As fixed is not working for me here*/
    top: 0;
}
nav{
    flex: 1;
    text-align:right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}
.search{
    width: 50vw;
    position: relative;
    display:flex;
}
.searchbox{
    width: 50%;
    height: 3.5vh;
    border: white solid 1px;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    padding: 5px;
    outline:none;
    color:#270720;
}
.searchbox:focus{
    color: black;
}
.searchButton{
    width:30px;
    height:3.5vh;
    border: 1px solid #270720;
    background-color:#270720;
    text-align:center;
    color:#fff;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    font-size:20px;
}  
.active a{
    width:100%;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    color: #270720;
}
.active a:hover{
    color: white;
    background-color:#270720;
    border: white solid 1px;
    padding: 20px;
}
.shoppingcart{
    width:30px;
    height:3.5vh;
    font-size:20px;
}
.shoppingcart:hover{
    color: white;
}
main{
    background-color: #270720;
    color: #b79aad;
}

.intro{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
    /* background: radial-gradient(#9d558d, #4f0e41); */
    /* margin-top: 20px; */
}
.intro-col{
    flex-basis: 50%;
    min-width:300px;
    padding: 0 25px;
    text-align: justify;
}
.intro-col img{
    max-width: 100%;
    padding: 50px 0;
}
.intro-col h1{
    font-size: 50px;
    line-height: 80px;
    margin: 25px 0;   
}
.btn{
    display: inline-block;
    background-color:#b79aad; 
    color: #270720;
    padding: 10px 20px;
    margin: 30px 0;
    text-decoration: none;
}
.btn:hover{
    color:#b79aad; 
    background-color: #270720;
}
.preview{
    margin: 20px 0;
}
.preview-col{
    flex-basis: 25%;
    min-width:250px;
    margin: 20px 0px;
    padding: 0 20px;
}

.preview-col img{
    object-fit: cover;
}
.preview-col:hover{
    transform: scale(0.8) rotate(-15deg);
}
.small-preview{
    display: flex;
    max-width: 1440px;
    margin: auto;
    padding: 20px 20px;
    background-color: #b79aad;
}
.border-box{
    max-width: 1500px;
    padding: 20px 20px;
    margin: auto;
    border: #b79aad dashed 5px;
}
.product{
    margin: 20px 0;
}
.heading{
    text-align:center;
    margin: 0 auto 30px;
    position:relative;
    line-height:60px;
    color:#b79aad;
}
.heading::after{
    content:'';
    background:#b79aad;
    width:150px;
    height:2px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}
.small-container{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: auto;
    padding: 20px 100px;
}
.product-col{
    flex-basis:25%;
    padding:10px;
    min-width:200px;
    margin-bottom:50px;
}
.product-col:hover{
    box-shadow: 2px 2px 30px rgba(158, 126, 153, 0.5);
} 
.product-col img{
    width:100%
}
.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
    box-sizing:border-box;
    color:#270720;
    background-color: #b79aad;
}
.type{
    display:flex;
    flex-direction:column;  
}
.type a{
    color:#270720;
    margin: 5px 0;
    font-weight:700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.type span{
    color:rgba(39, 7, 32, 0.5);
}
.price{
    color:#270720;
    font-weight:bold;
    font-size:1.1rem;
    letter-spacing: 0.5px;
}
.offer{
    display:flex;
    align-items:center;
    flex-direction:row;
    max-height:750px;
    margin-top:80px;
    margin-bottom:80px;
    padding: 20px 0;
    background-color: rgb(55,79,40);
}
.offer-col{
    flex-basis: 50%;
    padding:20px 100px;
    margin:10px;
    letter-spacing: 1px;
}
.offer-col img{
    width:500px;
    height:600px;
    object-fit: cover;
    transform: scale(0.8) rotate(-10deg);  
    box-shadow: 2px 2px 20px rgba(126, 158, 133, 0.5);
}
.offer-col h2{
    color: rgb(55,79,40);
    background-color: rgb(161, 204, 134);
    padding:30px 60px;
    margin-bottom:90px;
}
.offer-col h4{
    background-color:#ccb4c4;
    color:rgb(55,79,40);
    margin: 10px;
    padding: 20px 60px;
}
.offer-link{
    color:rgb(55,79,40);
}
.offer-link:hover{
    color:#270720;
}
.container{
    display:grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: 300px 300px 300px;
    padding:20px;
}
.testimonials{
    width:275px;
    height:500px;
    padding:20px;
    margin:10px;
    background-color:#270720;
    border-radius: 20px;
    display:grid;
    justify-content: center;
    align-content: center;
    position:relative;
    overflow:hidden;
}
.testimonials::before{
    content:'';
    position:absolute;
    width:150px;
    height:700px;
    left:75px;
    top:-100px;
    background: linear-gradient(#a1cc86, #cc86c2);
    animation: animate 15s linear infinite;
}
@keyframes animate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.testimonials::after{
    content: '';
    position:absolute;
    inset:5px;
    background:#270720;
    border-radius:18px;
}
.review{
    display:flex;
    flex-direction:column;  
    margin:4px;
    padding:10px;
    height:150px;
    width:235px;
    z-index:1;
    text-align:start;
}
.testimonials img{
    object-fit: cover;
    margin:4px;
    z-index:1;
}
/*TODO: align images*/
.review p{
    font-size: 15px;
    margin: 5px 0;
    font-weight:700;
    letter-spacing: 0.5px;
    color:#b79aad;
}
.review small{
    font-size: 12px;
    color:#b79aadd5;
}
footer{
    background-color: rgba(183, 154, 173,1);
    color: #270720;
}
.frow{
    margin-left:10px;
    padding: 30px;
    display: flex;
    justify-content:space-evenly;
}
.fcol{
    flex-direction:column;
}
.fcol ul{
    list-style-type: none;
    padding:10px 0px;
}
footer a:hover{
    color:rgb(55,79,40);
}
.fhead{
    padding-bottom:5px; 
    font-weight:bold;
}
.socials{
    display:grid;
    justify-content: space-evenly;
    grid-template-rows: 15px 15px 15px 15px 15px;
    grid-template-columns: 15px 15px 15px 15px 15px;
    padding:0px 0px;
}
footer p{
    text-align: center;
    background-color: #270720;
    color:#b79aad;
}